---
import Layout from "../layouts/Layout.astro";
---

<Layout
  meta={{
    title: "Frank Stallone | Sharing 25 years of working on the web",
    description:
      "For the last two decades, I have helped businesses of all sizes craft compelling user experiences that drove 100M+ in revenue.",
  }}
>
  <section class="region wrapper flow prose" style="--measure: 75ch;"></section>
</Layout>
