---
import Layout from '../layouts/Layout.astro';
---

<Layout
  meta={{
    title:
      'SweetSpot Solutions | Teaching, Growing, and Collaborating with dessert franchisors',
    description:
      'Working exlusively with dessert franchisors to teach them everything we know about how agencies market and get results',
  }}
>
  <main id="main">
    <!-- 
      background-color: #4158D0;
      background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
     -->
    <div style="background-color: var(--blue100);" class="text-blue1000">
      <section class="region wrapper" id="course">
        <div class="prose flow">
          <h2>Leader &amp; Unit Growth Course</h2>
          <p>
            Learn everything we know from over 30 years in marketing and
            advertising. This course is for dessert franichisors, and teams, who
            want to efficiently and effectively find, and obtain, successful
            franchise partners.
          </p>
        </div>
        <ul class="grid region" role="list">
          <li
            class="box rounded flex"
            style="--spot-color: var(--purple1000); --spot-color-text: var(--purple300);"
          >
            <div class="flow prose">
              <h2>Introduction</h2>
              <p>
                This is where the dough hits the pan. We set the expectations of
                what you're going to learn.
              </p>
            </div>
            <div
              class="font-hero font-weight-light"
              style="writing-mode: vertical-lr; margin-block-start: .75rem;"
            >
              Lesson 1
            </div>
          </li>
          <li
            class="box rounded mx-auto flow prose"
            style="--spot-color: var(--purple1000); --spot-color-text: var(--purple300);"
          >
            <div>
              <div class="font-hero font-weight-light">Lesson 2</div>
              <h2>Goals</h2>
            </div>
            <p>
              This is where the dough hits the pan. We set the expectations of
              what you're going to learn.
            </p>
          </li>
          <li
            class="box rounded mx-auto flow prose"
            style="--spot-color: var(--purple1000); --spot-color-text: var(--purple300);"
          >
            <div>
              <div class="font-hero font-weight-light">Lesson 3</div>
              <h2>Storytelling</h2>
            </div>
            <p>
              This is where the dough hits the pan. We set the expectations of
              what you're going to learn.
            </p>
          </li>
          <li
            class="box rounded mx-auto flow prose"
            style="--spot-color: var(--purple1000); --spot-color-text: var(--purple300);"
          >
            <div>
              <div class="font-hero font-weight-light">Lesson 4</div>
              <h2>Who are successful franchise partners?</h2>
            </div>
            <p>
              This is where the dough hits the pan. We set the expectations of
              what you're going to learn.
            </p>
          </li>
          <li
            class="box rounded mx-auto flow prose"
            style="--spot-color: var(--purple1000); --spot-color-text: var(--purple300);"
          >
            <div>
              <div class="font-hero font-weight-light">Lesson 5</div>
              <h2>Voice &amp; tone</h2>
            </div>
            <p>
              This is where the dough hits the pan. We set the expectations of
              what you're going to learn.
            </p>
          </li>
        </ul>
        <div class="box w-3/4 mx-auto">
          <a
            href="https://buy.stripe.com/5kA03Sbxb9DG4akbII"
            target="_blank"
            class="button purple-button">Buy now</a
          >
        </div>
      </section>
    </div>
    <section class="region wrapper">
      <div class="switcher">
        <div class="prose flow">
          <h2>Community</h2>
          <p>
            We have created a professional community solely for dessert
            franchises. Build long lasting healthy habits with peers in the
            dessert franchise space. Join us for events with coaches and experts
            in all aspects of the busienss. Discuss the Leader &amp; Unit Growth
            course material, and collaborate on execution methods.
          </p>
          <ul>
            <li>Join early to get exclusive 1-on-1 time</li>
            <li>Accountability partners</li>
            <li>Build long last relationships, and habits</li>
            <li>Course owners get VIP access</li>
            <li>Share your experience, and gain perspective</li>
          </ul>
        </div>
        <div class="box flex justify-center items-center">
          <a
            href="https://discord.gg/gv7uSYekbt"
            target="_blank"
            class="button"
          >
            Join now!</a
          >
        </div>
      </div>
    </section>
  </main>
</Layout>
