---
import Layout from '../layouts/Layout.astro';
---

<Layout
  meta={{
    title: 'SweetSpot Solutions | Dessert franchise consulting',
    description:
      'Working exlusively with dessert franchisors to teach them everything we know about how agencies market and get results',
  }}
>
  <main id="main"></main>
</Layout>
