---
import Community from '../components/Community.astro';
import Course from '../components/Course.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout
  meta={{
    title:
      'SweetSpot Solutions | Teaching, Growing, and Collaborating with dessert franchisors',
    description:
      'Working exlusively with dessert franchisors to teach them everything we know about how agencies market and get results',
  }}
>
  <main id="main">
    <!-- 
      background-color: #4158D0;
      background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
     -->

    <Course />
    <Community />
  </main>
</Layout>
