---

---

<section class="region wrapper">
  <div class="switcher">
    <div class="prose flow">
      <h2>Community</h2>
      <p>
        We have created a professional community solely for dessert franchises.
        Build long lasting healthy habits with peers in the dessert franchise
        space. Join us for events with coaches and experts in all aspects of the
        busienss. Discuss the Leader &amp; Unit Growth course material, and
        collaborate on execution methods.
      </p>
      <ul>
        <li>Join early to get exclusive 1-on-1 time</li>
        <li>Accountability partners</li>
        <li>Build long last relationships, and habits</li>
        <li>Course owners get VIP access</li>
        <li>Share your experience, and gain perspective</li>
      </ul>
    </div>
    <div class="box flex justify-center items-center">
      <a href="https://discord.gg/gv7uSYekbt" target="_blank" class="button">
        Join now!</a
      >
    </div>
  </div>
</section>
