---

---

<div class="region" style="--spot-color: var(--gray200);" id="contact">
  <div class="wrapper flow prose" style="--flow-space: var(--space-l);">
    <div class="switcher">
      <div class="flow prose">
        <h2>Our mission</h2>
        <p>
          We all gets caught in routines, don't treat ourselves nearly as often
          as we deserve, and can get out of touch with society. Desserts bring
          us together, the experience delights our senses, and gives us an
          escape from the mundane day-to-day. Dessert franchises connect
          families, businesses, and communities with each other in a fun and
          enjoyable way.
        </p>
        <p>
          We've spent years marketing and advertising for business owners with
          varying degrees of success, due to circumstances outside of our
          control. We have decided to narrow down our market niche in order to
          provide more meaningful value to those business owners. By focusing on
          dessert franchises, we'll be able to help franchisors become leaders
          in their industry, that grow more, and successful, units throughout
          the nation.
        </p>
        <p>
          We're not stopping there though. If we teach you everything we know,
          then we can focus on those outside circumstances we've seen businesses
          go under for missing. By bringing in coaches, experts in their field,
          and creating a community for dessert franchisors to connect, we can
          help everyone win.
        </p>
        <div class="switcher">
          <div class="text-center">
            <svg
              viewBox="0 0 469 207"
              version="1.1"
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              style="height: 7rem;"
              class="w-auto"
              role="img"
            >
              <title>Bako Signature</title>
              <path
                d="M132.069,95.852c12.313,-12.546 24.084,-24.919 33.492,-35.576c-14.162,6.118 -33.324,11.326 -60.481,14.423c-7.726,0.883 -15.215,-0.977 -21.499,-4.44c-6.987,-3.85 -12.476,-9.666 -15.167,-15.796c-0.385,-0.862 0.002,-1.875 0.865,-2.261c0.862,-0.385 1.876,0.002 2.261,0.865c2.483,5.459 7.501,10.572 13.806,13.937c5.656,3.017 12.363,4.614 19.253,3.731c32.321,-4.15 52.977,-11.132 67.284,-19.04c0.665,-0.368 1.316,-0.737 1.954,-1.109c0.434,-0.529 0.858,-1.052 1.273,-1.567c3.459,-4.286 19.472,-28.67 31.075,-40.517c3.511,-3.585 6.737,-6.061 9.166,-6.907c1.878,-0.655 3.501,-0.551 4.815,0.107c2.712,1.359 3.609,4.105 2.275,7.745c-2.042,5.571 -10.289,14.249 -11.646,15.592c-7.866,7.793 -15.14,17.637 -29.174,26.723c-0.461,0.648 -0.843,1.167 -1.134,1.538c-9.151,11.632 -23.018,26.982 -38.166,42.872c4.598,0.513 8.958,1.492 12.899,2.672c7.922,2.372 14.142,5.537 17.181,7.236c5.85,-6.267 26.397,-28.261 32.911,-34.997c1.025,-1.06 1.808,-1.788 2.235,-2.157c46.7,-53.929 44.708,-40.859 3.714,3.109c-0.078,0.139 -0.193,0.32 -0.364,0.534c-0.251,0.314 -0.807,0.964 -1.723,1.999c-12.35,13.963 -17.806,21.909 -18.977,26.144c-0.099,0.359 -0.164,0.676 -0.18,0.959c-0.009,0.14 -0.112,0.252 -0.044,0.32c0.192,0.192 0.534,0.118 0.926,0.111c0.652,-0.011 1.4,-0.13 2.218,-0.323c5.743,-1.354 14.355,-6.086 18.513,-8.556c0.004,-0.003 0.009,-0.005 0.013,-0.008c0.646,-0.514 1.378,-1.003 2.2,-1.456c2.693,-1.481 3.255,2.322 3.08,2.632c-0.049,0.087 -0.263,0.435 -0.804,0.819c-0.376,0.268 -1.214,0.811 -2.376,1.521c-0.062,0.038 -0.124,0.076 -0.188,0.114c-1.615,1.45 -2.26,3.103 -1.933,4.574c0.464,2.085 2.839,3.287 6.231,2.611c4.107,-0.819 9.439,-4.18 15.499,-11.575c0.602,-0.736 1.847,-1.132 3.37,-0.359c1.787,0.908 4.322,3.533 4.72,4.576c0.338,0.882 -0.104,1.873 -0.986,2.211c-0.882,0.338 -1.873,-0.104 -2.211,-0.986c-0.22,-0.571 -2.344,-1.405 -3.051,-2.228c-8.953,10.791 -16.847,13.133 -21.542,12.092c-4.03,-0.893 -6.22,-4.041 -6.013,-7.564c-5.781,3.071 -13.029,6.349 -17.028,6.302c-1.646,-0.02 -2.907,-0.533 -3.755,-1.362c-1.055,-1.032 -1.684,-2.745 -1.022,-5.426c-6.053,6.651 -10.814,11.9 -10.814,11.9c-0.93,1.01 -2.449,1.212 -3.61,0.48c-0,0 -7.325,-4.533 -17.859,-7.538c-5.017,-1.431 -10.766,-2.513 -16.801,-2.572c-0.734,0.76 -1.47,1.521 -2.207,2.282c-31.899,32.925 -66.702,65.916 -73.595,71.762c-7.741,6.514 -29.132,21.585 -42.743,27.458c-5.195,2.242 -9.543,3.048 -12.102,2.453c-2.352,-0.547 -3.925,-1.901 -4.733,-3.992c-0.377,-0.974 -0.701,-2.705 -0.691,-5.089c0.015,-3.526 0.657,-8.907 2.383,-15.395c4.509,-16.946 16.38,-41.761 42.995,-60.37c19.596,-13.7 47.258,-24.076 86.012,-25.238Zm-6.538,6.628c-33.514,2.451 -57.786,12.127 -75.228,24.612c-24.527,17.555 -35.378,40.641 -39.449,56.41c-1.457,5.643 -2.045,10.307 -2.043,13.368c-0,0.388 -0.001,0.736 0.007,1.04c0.447,-0.05 0.987,-0.128 1.431,-0.243c1.523,-0.396 3.289,-1.072 5.229,-1.94c1.51,-0.676 3.115,-1.468 4.784,-2.348c3.33,-1.754 6.903,-3.857 10.483,-6.09c10.047,-6.269 20.129,-13.604 24.864,-17.597c6.623,-5.548 39.002,-36.028 69.922,-67.212Zm66.351,-65.556c5.856,-5.645 10.25,-11.154 14.893,-15.886c0.951,-0.969 5.799,-6.113 8.613,-10.693c0.503,-0.82 0.949,-1.888 1.254,-2.7c-0.788,0.436 -1.643,1.078 -2.567,1.865c-3.348,2.854 -7.355,7.529 -11.435,12.757c-3.685,4.721 -7.413,9.89 -10.758,14.657Z"
              ></path>
              <path
                d="M333.076,15.04c-0.306,0.076 -0.868,-0.032 -1.314,0.121c-2.277,0.781 -5.242,2.509 -8.701,4.899c-12.461,8.61 -30.606,25.563 -45.135,42.215c-9.829,11.265 -18.046,22.345 -21.558,30.6c5.977,-0.476 9.771,-0.092 11.966,0.697c2.649,0.952 3.52,2.576 3.545,4.167c0.035,2.15 -2.203,4.958 -5.496,6.949c-4.071,2.461 -9.48,3.565 -12.4,1.888c-3.543,-2.043 -4.563,-6.179 -3.002,-11.881c2.444,-8.928 11.433,-22.368 22.761,-35.984c17.424,-20.943 40.315,-42.32 52.365,-48.723c2.583,-1.373 4.799,-2.092 6.475,-2.242c2.163,-0.194 3.791,0.459 4.954,1.545c3.616,3.376 4.552,9.065 2.383,16.601c-3.379,11.74 -14.378,28.959 -28.896,47.922c-10.956,14.311 -23.904,29.673 -36.906,44.477c-1.587,1.806 -3.175,3.605 -4.759,5.392c11.102,-10.271 22.824,-20.813 34.561,-30.879c28.516,-24.456 57.159,-46.081 77.343,-54.456c1.318,-0.547 2.231,-0.209 2.684,0.026c0.816,0.423 2.443,1.881 1.034,4.325c-0.588,1.021 -2.641,3.441 -5.721,6.766c-11.956,12.904 -40.055,41.002 -49.55,54.818c-0.917,1.334 -1.654,2.515 -2.156,3.519c0.811,-0.111 1.808,-0.227 2.692,-0.603c12.289,-5.225 38.994,-22.426 52.797,-29.905c3.051,-1.652 5.504,-2.844 7.083,-3.378c18.469,-6.246 32.161,-9.971 43.162,-12.16c12.367,-2.46 21.354,-2.987 29.892,-2.948c0.888,-0 1.609,0.721 1.609,1.609c0,0.888 -0.721,1.609 -1.609,1.609c-8.347,0.037 -17.129,0.629 -29.197,3.144c-10.865,2.264 -24.376,6.082 -42.591,12.432c-8.507,2.965 -43.405,26.545 -58.636,33.444c-2.824,1.278 -5.075,1.992 -6.485,2.082c-1.814,0.116 -2.902,-0.629 -3.466,-1.557c-0.652,-1.076 -0.725,-3.074 0.529,-5.688c2.62,-5.459 11.062,-15.629 20.764,-26.433c9.745,-10.852 20.748,-22.387 28.116,-30.35c-13.564,7.751 -29.586,19.686 -46.235,33.425c-41.561,34.296 -86.883,79.883 -107.624,101.015c-5.043,5.139 -8.64,8.835 -10.382,10.586c-0.597,0.6 -1.005,0.996 -1.206,1.178c-2.587,2.338 -5.104,0.285 -5.318,0.094c-0.867,-0.774 -2.255,-3.135 -0.304,-6.52c1.39,-2.41 5.168,-7.109 10.69,-13.446c12.311,-14.132 33.446,-36.976 54.826,-61.262c19.072,-21.664 38.343,-44.479 51.404,-63.462c7.231,-10.509 12.578,-19.755 14.76,-26.917c0.639,-2.099 1.012,-3.98 1,-5.629c-0.008,-1.223 -0.197,-2.29 -0.748,-3.122Zm46.791,25.85c0.371,-0.408 0.539,-0.717 0.287,-0.874c-0.47,-0.294 -0.415,0.312 -0.287,0.874Zm-124.715,55.369c-0.895,3.117 -0.985,5.519 0.969,6.709c1.936,1.184 5.505,-0.056 8.293,-1.639c1.189,-0.675 2.246,-1.448 2.976,-2.258c0.421,-0.466 0.786,-0.882 0.791,-1.322c0.004,-0.399 -0.453,-0.548 -1.11,-0.803c-2.09,-0.814 -5.847,-1.129 -11.919,-0.687Z"
              ></path>
            </svg>
          </div>
          <div class="text-center">
            <svg
              viewBox="0 0 238 209"
              version="1.1"
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              style="height: 7rem;"
              class="w-auto"
              role="img"
            >
              <title>Stallone Signature</title>
              <path
                d="M88.396,68.643c15.582,2.492 31.645,6.711 44.813,11.813c12.594,4.88 22.546,10.611 27.096,16.352c0.612,0.746 0.503,1.849 -0.244,2.461c-0.746,0.612 -1.849,0.503 -2.461,-0.243c-9.108,-10.754 -39.445,-20.34 -68.316,-24.247c2.114,15.1 4.489,35.437 6.477,55.622c2.461,1.345 4.841,2.689 7.109,4.034c11.071,6.569 19.451,13.416 22.312,20.244c6.12,14.676 1.568,26.806 -8.095,35.609c-4.673,4.256 -10.608,7.692 -17.069,10.202c-0.077,1.544 -0.194,2.846 -0.354,3.88c-0.144,0.954 -1.036,1.612 -1.991,1.468c-0.954,-0.144 -1.612,-1.036 -1.468,-1.99c0.088,-0.601 0.16,-1.294 0.217,-2.074c-10.188,3.331 -21.3,4.43 -30.663,2.911c-42.124,-6.871 -59.495,-35.527 -62.781,-69.39c-3.896,-40.141 12.369,-87.679 29.692,-112.944c4.901,-7.147 9.911,-12.539 14.559,-15.607c3.466,-2.287 6.799,-3.336 9.812,-3.126c6.85,0.479 12.432,5.295 16.707,12.258c9.374,15.271 12.663,40.853 13.093,43.229c0.484,2.667 1.007,5.882 1.555,9.538Zm8.171,124.995c-0.181,-11.235 -1.495,-28.599 -3.312,-47.37c-0.267,-2.754 -0.544,-5.539 -0.831,-8.339c-16.698,-9.183 -37.258,-18.437 -51.019,-28.533c-8.457,-6.205 -14.38,-12.872 -16.194,-19.733c-2.306,-8.787 1.218,-14.975 8.933,-18.85c6.417,-3.224 16.18,-4.72 27.594,-4.61c6.814,0.066 14.236,0.675 21.859,1.725c-0.488,-3.011 -0.952,-5.688 -1.385,-7.963c-0.384,-2.019 -2.99,-21.476 -9.91,-36.074c-3.763,-7.939 -8.65,-14.587 -15.605,-15.009c-2.019,-0.123 -4.19,0.764 -6.498,2.318c-4.169,2.807 -8.577,7.776 -12.942,14.266c-16.489,24.518 -31.858,70.484 -27.753,109.166c3.262,30.734 19.099,56.796 57.422,62.683c9.074,1.402 20.015,0.037 29.641,-3.677Zm0.143,-53.301c0.172,1.866 0.339,3.722 0.502,5.565c1.596,18.052 2.719,34.821 2.896,46.234c4.391,-2.039 8.396,-4.597 11.675,-7.628c7.186,-6.643 10.602,-15.732 5.94,-26.687c-2.404,-5.674 -9.81,-10.875 -19.033,-16.329c-0.651,-0.385 -1.312,-0.77 -1.98,-1.155Zm-12.138,-66.147c-2.829,-0.323 -5.631,-0.589 -8.386,-0.792c-16.084,-1.188 -30.5,-0.32 -38.641,4.003c-4.134,2.195 -6.19,5.48 -4.846,10.218c1.531,5.438 6.717,10.315 13.49,15.196c12.252,8.83 29.814,17.075 45.191,25.229c-2.145,-19.75 -4.633,-39.402 -6.808,-53.854Z"
              ></path>
              <path
                d="M111.927,142.139c-3.914,-11.187 -7.471,-23.587 -9.432,-34.403c-1.683,-9.275 -2.14,-17.447 -0.923,-22.895c1.296,-5.81 4.436,-9.082 8.977,-9.62c4.105,-0.486 7.589,1.235 10.301,5.011c2.891,4.027 4.919,10.873 5.97,19.133c0.333,2.619 0.578,5.386 0.744,8.244c0.118,-6.134 0.879,-11.366 2.422,-14.914c1.698,-3.905 4.348,-6.111 7.634,-6.605c3.691,-0.556 6.87,1.589 8.663,6.714c2.11,6.031 2.435,17.281 1.521,29.606c-0.94,12.666 -3.126,26.485 -5.596,36.724c0.325,0.97 0.653,1.889 0.981,2.751c0.868,2.279 1.72,4.141 2.562,5.428c0.195,0.298 0.462,0.625 0.646,0.84c2.377,-0.749 4.127,-2.653 5.486,-4.834c2.32,-3.722 3.517,-8.31 4.073,-11.098c0.065,-0.918 0.222,-1.877 0.475,-2.879c0.31,-1.189 1.409,-2 2.637,-1.946c1.227,0.055 2.25,0.959 2.455,2.171c0.004,0.024 -0.024,0.418 -0.104,1.089l0.055,0.002c-0.041,0.152 -0.078,0.301 -0.111,0.449c-0.056,0.428 -0.13,0.933 -0.223,1.501c-0.196,3.009 1.276,5.233 3.885,6.794c4.256,2.546 10.959,3.586 18.573,3.646c16.607,0.13 37.456,-4.567 48.257,-10.855c0.909,-0.539 2.085,-0.239 2.624,0.67c0.539,0.909 0.239,2.085 -0.67,2.624c-13.166,7.953 -40.897,13.888 -58.993,11.785c-7.034,-0.817 -12.606,-2.897 -15.827,-6.299c-0.645,1.768 -1.444,3.554 -2.433,5.203c-2.234,3.725 -5.401,6.704 -9.599,7.675c-1.184,0.274 -2.488,0.039 -3.805,-0.955c-0.939,-0.707 -1.98,-1.97 -3.002,-3.761c-0.174,-0.306 -0.35,-0.631 -0.527,-0.973c-0.298,0.847 -0.595,1.622 -0.89,2.32c-1.063,2.51 -2.248,4.206 -3.242,5.077c-1.24,1.087 -2.532,1.447 -3.7,1.428c-1.073,-0.018 -2.455,-0.419 -3.87,-1.667c-1.148,-1.013 -2.611,-2.922 -4.176,-5.62c-0.79,-1.364 -1.632,-2.956 -2.508,-4.739c-4.041,9.514 -9.168,12.654 -13.323,12.817c-4.25,0.168 -8.212,-2.574 -10.587,-6.503c-2.301,-3.808 -3.04,-8.552 -1.585,-12.004c1.849,-4.39 5.402,-7.483 9.45,-9.178c2.478,-1.038 5.125,-1.551 7.636,-1.552c-1.486,-1.328 -3.008,-2.438 -4.555,-3.357c-12.209,-7.252 -25.7,-2.793 -34.466,-1.621c-1.047,0.149 -2.018,-0.579 -2.167,-1.625c-0.149,-1.047 0.579,-2.018 1.625,-2.167c9.452,-1.438 23.929,-6.069 37.268,1.527c0.466,0.265 0.93,0.545 1.394,0.841Zm5.206,13.734c-0.448,-0.563 -0.87,-1.041 -1.032,-1.221c-2.53,-0.787 -5.745,-0.467 -8.608,0.795c-2.647,1.167 -4.999,3.2 -6.163,6.116c-0.753,1.888 0.006,4.399 1.294,6.441c1.185,1.878 2.924,3.487 4.979,3.369c1.355,-0.078 2.681,-0.995 4.058,-2.713c1.622,-2.025 3.135,-5.055 4.514,-9.308c0.333,-1.026 0.653,-2.192 0.958,-3.479Zm17.745,-0.345c-2.847,-9.589 -5.383,-21.892 -6.597,-33.313c-0.182,-1.717 -0.332,-3.414 -0.448,-5.08c0.016,12.725 -1.235,26.025 -3.081,35.628c1.315,3.178 2.608,6.072 3.83,8.57c0.93,1.9 2.061,3.792 2.989,5.249c0.448,-1.111 0.9,-2.414 1.356,-3.876c0.658,-2.114 1.314,-4.534 1.951,-7.178Zm2.817,-13.949c1.091,-6.439 1.992,-13.268 2.559,-19.779c0.967,-11.085 1.069,-21.223 -0.75,-26.68c-0.224,-0.672 -0.463,-1.253 -0.767,-1.708c-0.067,-0.1 -0.182,-0.236 -0.248,-0.312c-0.656,0.141 -1.128,0.655 -1.555,1.319c-0.645,1.005 -1.133,2.309 -1.522,3.838c-1.461,5.75 -1.462,14.226 -0.642,23.321c0.596,6.603 1.635,13.525 2.925,20.001Zm-18.072,-2.366c0.869,-9.574 1.128,-20.559 0.457,-30.437c-0.617,-9.08 -1.974,-17.204 -4.561,-22.214c-1.081,-2.092 -2.165,-3.685 -3.996,-3.45c-0.723,0.093 -1.115,0.676 -1.451,1.395c-0.561,1.201 -0.846,2.757 -0.997,4.573c-0.564,6.744 1.049,16.497 3.614,26.915c1.895,7.695 4.336,15.736 6.934,23.218Z"
              ></path>
            </svg>
          </div>
        </div>
      </div>
      <div class="flow prose">
        <h2>Delightful discourse</h2>
        <p>
          We are a consulting company dedicated to emerging dessert franchisors
          looking to learn, grow, and connect. Sound interesting? Let's chat.
        </p>
        <form
          name="main"
          class="flow"
          netlify-honeypot="bot-field"
          method="POST"
          data-netlify="true"
          action="/"
        >
          <input type="hidden" name="subject" value="ðŸ“ Form: sweetspot.nyc" />
          <p class="hidden">
            <label for="bot-field">Do you like delicious treats?</label>
            <input name="bot-field" id="bot-field" />
          </p>
          <span class="stack">
            <label for="name">Name</label>
            <input id="name" name="name" type="text" required />
          </span>
          <span class="stack">
            <label for="email">Email</label>
            <input id="email" name="email" type="email" required />
          </span>
          <span class="stack">
            <label for="tel">Phone number</label>
            <input id="tel" name="tel" type="tel" />
          </span>
          <span class="stack">
            <label for="message">Message</label>
            <textarea name="message" id="message" rows="6" required></textarea>
          </span>
          <button
            type="submit"
            class="button"
            style="--spot-color: var(--color-key);">Submit</button
          >
        </form>
      </div>
    </div>
  </div>
</div>
