---

---

<div class="region" style="--spot-color: var(--gray200);" id="contact">
  <div class="wrapper flow prose" style="--flow-space: var(--space-l);">
    <div class="switcher">
      <div class="flow prose">
        <h2>Our mission</h2>
        <p>
          We all gets caught in routines, don't treat ourselves nearly as often
          as we deserve, and can get out of touch with society. Desserts bring
          us together, the experience delights our senses, and gives us an
          escape from the mundane day-to-day. Dessert franchises connect
          families, businesses, and communities with each other in a fun and
          enjoyable way.
        </p>
        <p>
          We've spent years marketing and advertising for business owners with
          varying degrees of success, due to circumstances outside of our
          control. We have decided to narrow down our market niche in order to
          provide more meaningful value to those business owners. By focusing on
          dessert franchises, we'll be able to help franchisors become leaders
          in their industry, that grow more, and successful, units throughout
          the nation.
        </p>
        <p>
          We're not stopping there though. If we teach you everything we know,
          then we can focus on those outside circumstances we've seen businesses
          go under for missing. By bringing in coaches, experts in their field,
          and creating a community for dessert franchisors to connect, we can
          help everyone win.
        </p>
      </div>
      <div class="flow prose">
        <h2>Delightful discourse</h2>
        <p>
          We are a consulting company dedicated to emerging dessert franchisors
          looking to learn, grow, and connect. Sound interesting? Let's chat.
        </p>
        <form
          name="main"
          class="flow"
          netlify-honeypot="bot-field"
          method="POST"
          data-netlify="true"
          action="/"
        >
          <input type="hidden" name="subject" value="ðŸ“ Form: sweetspot.nyc" />
          <p class="hidden">
            <label for="bot-field">Do you like delicious treats?</label>
            <input name="bot-field" id="bot-field" />
          </p>
          <span class="stack">
            <label for="name">Name</label>
            <input id="name" name="name" type="text" required />
          </span>
          <span class="stack">
            <label for="email">Email</label>
            <input id="email" name="email" type="email" required />
          </span>
          <span class="stack">
            <label for="tel">Phone number</label>
            <input id="tel" name="tel" type="tel" />
          </span>
          <span class="stack">
            <label for="message">Message</label>
            <textarea name="message" id="message" rows="6" required></textarea>
          </span>
          <button
            type="submit"
            class="button"
            style="--spot-color: var(--color-key);">Submit</button
          >
        </form>
      </div>
    </div>
  </div>
</div>
