---

---

<div style="background-color: var(--purple100);" class="text-purple1000">
  <section class="region wrapper" id="course">
    <div class="prose flow">
      <h2>Leader &amp; Unit Growth Course</h2>
      <p>
        Learn everything we know from over 30 years in marketing and
        advertising. This course is for dessert franichisors, and teams, who
        want to efficiently and effectively find, and obtain, successful
        franchise partners.
      </p>
    </div>
    <ul class="grid region" role="list">
      <li
        class="box rounded flex"
        style="--spot-color: var(--purple1000); --spot-color-text: var(--purple300);"
      >
        <div class="flow prose">
          <h2>Introduction</h2>
          <p>
            This is where the dough hits the pan. We set the expectations of
            what you're going to learn.
          </p>
        </div>
        <div
          class="font-hero font-weight-light"
          style="writing-mode: vertical-lr; margin-block-start: .75rem;"
        >
          Lesson 1
        </div>
      </li>
      <li
        class="box rounded mx-auto flow prose"
        style="--spot-color: var(--purple1000); --spot-color-text: var(--purple300);"
      >
        <div>
          <div class="font-hero font-weight-light">Lesson 2</div>
          <h2>Goals</h2>
        </div>
        <p>
          This is where the dough hits the pan. We set the expectations of what
          you're going to learn.
        </p>
      </li>
      <li
        class="box rounded mx-auto flow prose"
        style="--spot-color: var(--purple1000); --spot-color-text: var(--purple300);"
      >
        <div>
          <div class="font-hero font-weight-light">Lesson 3</div>
          <h2>Storytelling</h2>
        </div>
        <p>
          This is where the dough hits the pan. We set the expectations of what
          you're going to learn.
        </p>
      </li>
      <li
        class="box rounded mx-auto flow prose"
        style="--spot-color: var(--purple1000); --spot-color-text: var(--purple300);"
      >
        <div>
          <div class="font-hero font-weight-light">Lesson 4</div>
          <h2>Who are successful franchise partners?</h2>
        </div>
        <p>
          This is where the dough hits the pan. We set the expectations of what
          you're going to learn.
        </p>
      </li>
      <li
        class="box rounded mx-auto flow prose"
        style="--spot-color: var(--purple1000); --spot-color-text: var(--purple300);"
      >
        <div>
          <div class="font-hero font-weight-light">Lesson 5</div>
          <h2>Voice &amp; tone</h2>
        </div>
        <p>
          This is where the dough hits the pan. We set the expectations of what
          you're going to learn.
        </p>
      </li>
    </ul>
    <div class="box w-3/4 mx-auto">
      <a
        href="https://buy.stripe.com/5kA03Sbxb9DG4akbII"
        target="_blank"
        class="button purple-button">Buy now</a
      >
    </div>
  </section>
</div>
