---
import { Picture } from 'astro:assets';
import sweetspot from '../assets/sweetspot-logo-horizontal.png';
---

<header
  class="cluster box text-center justify-between"
  style="--spot-color: transparent;"
>
  <a href="/">
    <Picture
      src={sweetspot}
      class="object-contain w-40 h-auto"
      alt="SweetSpot Solutions logo"
      formats={['avif', 'webp']}
    />
  </a>
  <nav>
    <ul
      role="list"
      class="cluster justify-center font-weight-emphasis font-display"
      style="--gap: var(--space-l);"
    >
      <li class="header-link"><a href="#contact">Contact</a></li>
    </ul>
  </nav>
</header>
