---
import Header from './Header.astro';
---

<div
  class="cover"
  id="hero"
  style="--cover-padding: 0; background-color: var(--blue1000); color: var(--blue400);"
>
  <Header />
  <div class="switcher">
    <div
      class="box flex flex-col justify-center flow prose"
      style="color: var(--blue400);"
    >
      <h1 class="font-hero" style="font-size: 10vw;">Learn, grow, prosper</h1>
      <h2 class="font-base font-weight-base">
        Learn everything we know about marketing. Grow more successful dessert
        franchise units. Connect with like-minded professionals.
      </h2>
    </div>
  </div>
</div>
