---
import Header from './Header.astro';
---

<div class="cover" id="hero" style="--cover-padding: 0;">
  <Header />
  <div class="switcher" style="--spot-color: transparent;">
    <div class="box flex flex-col justify-center flow prose">
      <h1 class="step-5 font-hero">Learn, grow, prosper</h1>
      <h2 class="font-base font-weight-base">
        Learn everything we know about marketing. Grow more successful dessert
        franchise units. Connect with like-minded professionals.
      </h2>
    </div>
  </div>
</div>
