---
import Header from './Header.astro';
import HeroSVG from './HeroSVG.astro';
---

<div
  class="relevent overflow-hidden"
  style="background-color: var(--blue1000); color: var(--blue400);"
>
  <HeroSVG />
  <div class="cover relative z-10" id="hero" style="--cover-padding: 0;">
    <Header />
    <div
      class="box flex flex-col justify-center flow prose"
      style="color: var(--blue400);"
    >
      <h1 class="font-hero" style="font-size: 10vw;">Learn, grow, connect</h1>
      <h2 class="font-base font-weight-base">
        Learn everything we know about marketing. Grow more successful dessert
        franchise units. Connect with like-minded professionals.
      </h2>
    </div>
  </div>
</div>
