---
import Header from "./Header.astro";
import frankstallone from "../assets/2023-Frank-Stallone-Web-Marketing-Expert.png";
import { Picture } from "astro:assets";
---

<div class="cover spot-color-gray-dark" id="hero" style="--cover-padding: 0;">
  <Header />
  <div class="switcher" style="--spot-color: transparent;">
    <div class="box flex flex-col justify-center flow prose">
      <h1 class="step-5">Learn, grow, prosper</h1>
      <h2 class="font-weight-base">
        Sharing actionable tips from my agency, enterprise, and start up
        experience with a design and developer twist.
      </h2>
    </div>
    <div class="text-center relative overflow-hidden">
      <Picture
        src={frankstallone}
        widths={[500, 700, 1200]}
        width={4210}
        height={5456}
        class="object-contain h-auto"
        alt="The Internet's favorite Frank Stallone"
        format="avif"
      />
    </div>
  </div>
</div>
