---
import Header from "./Header.astro";
const { title } = Astro.props;
---

<div class="spot-color-gray-dark" id="hero" style="--cover-padding: 0;">
  <Header />
  <div class="region wrapper" style="--spot-color: transparent;">
    <div class="box flex flex-col justify-center flow prose">
      <h1 class="step-5">{title}</h1>
      <h2 class="font-weight-base">
        Sharing actionable tips from my agency, enterprise, start up, and life
        experience with a design and developer twist.
      </h2>
    </div>
  </div>
</div>
