.card {
  max-inline-size: var(--max-width, 400px);
  border-radius: var(--border-radius);
  overflow: hidden;
}
.card > a {
  text-decoration: none;
}
.card > a:hover h3 {
  text-decoration: underline;
}
.card img,
.card picture,
.card source {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
  aspect-ratio: 16 / 9;
  border-radius: var(--border-radius);
}
.card-content {
  padding: var(--space-s-m);
}
