.switcher {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap, var(--space-s));
  background-color: var(--spot-color, transparent);
  --threshold: 30rem;
}

.switcher > * {
  flex-grow: 1;
  flex-basis: calc((var(--threshold) - 100%) * 999);
}

.switcher > :nth-last-child(n + 4),
.switcher > :nth-last-child(n + 4) ~ * {
  flex-basis: 100%;
}
