---
import Contact from "../components/Contact.astro";
import Footer from "../components/Footer.astro";
import Head from "../components/Head.astro";
import HomeHero from "../components/HomeHero.astro";

const { meta } = Astro.props;
---

<!doctype html>
<html lang="en">
  <Head meta={meta} />
  <body>
    <a href="#main" class="sr-only sr-only-focusable">Skip to content</a>
    <main>
      <!-- Heading & Hero -->
      <HomeHero />
      <slot />
      <Contact />
      <!-- Footer -->
      <Footer />
    </main>
  </body>
</html>
